body{
    background-color: burlywood;
}

img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1{
    font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

h2{
    font-family: 'Arial', sans-serif;
  font-size: 2rem;
  color: #2c3e50;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
